/log/*.log
/tmp
config/database.yml
config/accounts.txt
config/development.yml
.rspec
spec/reports
coverage/*
screenshots/*
db/*.sql*
log/*.log
rails
tmp
.DS_Store
.sass-cache
*~
*.swp
*.swo
*.swn
chromedriver.log
./erd.pdf
erd.pdf
*.psd
*.pdf
*.swo
*.swm
design
db/agents.csv
public/mobile
public/assets
public/assets/*
app/assets/videos/*
libpeerconnection.log


