%ul
  %li= link_to 'Plan 1', new_user_registration_path(:plan => '1')
  %li= link_to 'Plan 2', new_user_registration_path(:plan => '2')
  %li= link_to 'Plan 3', new_user_registration_path(:plan => '3')
